// global declarations
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.m-canvas__download a {
  background: #438f85;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-delay: 0.3s;
  transition: background-color ease-in-out 0.3s;
}

.m-webcam{margin-bottom:30px}
.m-webcam video{display:none}


input[type="submit"]{
background-color:#c52126
}

body {
  background-color: #fff;
  color: $default-text-color;
  display: table;
  font-family: 'Average Sans', sans-serif;
  font-size: percentage($default-font-size/16px);
  height: 100%;
  line-height: $default-line-height;
  margin: 0;
  width: 100%;
}

.m-meme h1 {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 60px;
  line-height: 0px;
  padding-top: 50px;
}

.header h2 {
  font-family: 'Josefin Slab', serif;
  padding-bottom: 30px;
}

.editor-class h2 {
  font-family: 'Average Sans', sans-serif;
}

form select{
  font-family: 'Average Sans', sans-serif;
  font-size: 14px;
  border: none;
  height: 30px;
  color: #585858;
  background-color: white;
}

form textarea{
  font-family: 'Average Sans', sans-serif;
  font-size: 16px;
  color: #A0A0A0;
  float:left;
  height: 28px;
  width: 212px;
  background: #ddd;
  border-radius: 5px;
  border:none;
}

form input[type="range"]{
  display: block;
  -webkit-appearance: none;
  background-color: #ddd;
  width: 300px;
  height: 15px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #438f85;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}​

form textarea, form input[type="text"]{
  font-family: 'Average Sans', sans-serif;
  font-size: 14px;
  color: #A0A0A0;
}

h2{
  text-align: center;
}

.landing-text{
  padding: 0 10% 0 10%;
  text-align: center;
}

hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }

  .one-third {
    width: 33%;
  }

/* ***************************** FOOTER ***************************** */

footer {
  width: 100%;
  font-size: 20px;
  display: block;
  height: 120px;
  background-color: #000;
  color: white;
  font-size: 16px;
  line-height: 45px;
  overflow: hidden;
  float: left;
  line-height: 1.6em;
}

ul { 
  margin-top:20px; 
  padding:0;
  margin-left:20px;
}

ul li { 
  float:left; 
  list-style:none; 
}

ul li:after {
  content:"·"; 
  color:#666;
}

ul li:last-child:after { 
  content:""; 
  /* No separator for the last item in the list */ }

ul li a {
 margin:0 8px; /* Set margins around the links */
 color:white; /* Text colors for the links */
}

footer p{
  text-align: center;
}

.footer-right img{
  width: 30px;
  float: right;
  margin: 0px 10px 0px 10px;
}

/* ***************************** FOOTER END ***************************** */

.m-canvas__download-note{
  color:#777;
  font-size:12px;
  font-style:italic;
  font-family:'Average Sans',
  sans-serif
  }


/* ***************************** MEDIA QUERIES***************************** */


@media screen and (min-device-width: 768px) {
  .one-third {
    width: 32%;
  }
  .photo-grid{
  text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .m-meme h1 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    padding-top: 50px;
    margin: 0px;
  }

  .header h2 {
    font-family: 'Josefin Slab', serif;
    padding-bottom: 20px;
  }

  .one-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  .m-meme h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 40px;
    display: inline-block;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
  }

  .header h2 {
    font-family: 'Josefin Slab', serif;
    padding-bottom: 14px;
    font-size: 20px;
  }

  .one-third {
    width: 100%;
  }

  footer {
  width: 100%;
  font-size: 12px;
  display: block;
  height: 100px;
  background-color: #000;
  color: white;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
  line-height: 1.6em;
  }

  .footer-right img{
    margin: 7px;
  }

  footer p{
  font-size: 12px;
  }
}

/* ********************************************************** */

.btn-default {
    background: $theme-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    @include transition (background-color ease-in-out 0.3s);

    &:hover {
      background: lighten($theme-color, 25);
    }
}


.hide {
  display: none!important;
}


body.noselect {
  @include user-select(none);
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.left { float: left; }
.right { float: right; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
